<h1>Edit story</h1>

<div class="row">
	<form action="/stories/{{story.id}}?_method=PUT" class="col s12" method="POST">
		<div class="row">
			<div class="input-field">
				<input type="text" name="title" title="Title must have atleast 10 characters" value="{{story.title}}" required>
				<label for="title">Title</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<select name="status">
					{{#select story.status}}
					<option selected value="public">Public</option>
					<option value="private">Private</option>
					<option value="unpublished">Unpublished</option>
					{{/select}}
				</select>
				<label for="status">Status</label>
			</div>
		</div>

		<div class="row">
			<p>
				<label>
					<input type="checkbox" class="filled-in" name="allowComments" {{#if story.allowComments}} checked="checked" {{/if}} />
					<span>Allow Comments</span>
				</label>
			</p>
		</div>

		<div class="row">
			<div class="input-field">
				<h5>Tell Us Your Story: </h5>
				<br>
				<textarea id="story-body" name="body">
					{{story.body}}
				</textarea>
			</div>
		</div>

		<div class="row">
			<input class="btn" type="submit" value="Save">
		</div>

	</form>
</div>